/*横向导航栏*/
#nav{width: 100%;height: 38px;border-top: 1px solid #ddb9b9;background: #cf1b1b;}
	.nav{width: 1000px;margin: 0 auto;position: relative;}
	.nav li,.line{float: left;margin-top: 2px;}
	.nav li{padding: 6px 25px;}
	.nav li:hover{background: #a90a0a;}
	.nav ul a{color: #fff;font-size: 16px;}
	
	#nav-air{position: absolute;top: -5px;left: 514px;}
	#nav-hot{position: absolute;top: -5px;left: 606px;}